:root
{
    --font-size: 25px;
}
html{
    
    background-image: url(https://scontent.fsgn3-1.fna.fbcdn.net/v/t39.30808-6/280200324_3261542860760490_3982768139390775865_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=CUt5oq-mM6oAX-IzPi6&_nc_ht=scontent.fsgn3-1.fna&oh=00_AfAr_fzKIyTylUxInmqtn3p1OfnqvUOdX9kivIhpnegS4g&oe=63771A63);
    background-size: 50%;
    background-position: top right 350px;
    background-repeat: no-repeat;
}
#main{
    
    font-size: large;
}
    .sup{
        margin-left: 30px;
        font-size: var(--font-size); 
    }
    .sup2 ul{
        margin-left: 30px;
        font-size: var(--font-size);
    }
    p{
        margin-left: 30px;
        font-size: var(--font-size);
    }
    .sup3 ul{
        margin-left: 30px;
        font-size: var(--font-size);
    }
