:root
{
    --font-size: 20px;
}

body{
    margin: 0 25%;
}
.box{
    box-shadow: 0px 0px 20px 10px rgb(52, 65, 185);
}
.box1{
    background-color: aqua;
}
.box img{
    display: block;
    width: 150px;
    height: 180px;
    position: absolute;
    right: 26%;
    top: 50px;
    
}
h1{
    text-align: center;
}
    .sup{
        
        font-size: var(--font-size); 
        
    }
    .sup2 ul{
        margin-left: 30px;
        font-size: var(--font-size);
    }
    .sup1{
        margin-left: 30px;
        font-size: var(--font-size);
    }
    .sup3 ul{
        margin-left: 30px;
        font-size: var(--font-size);
    }
    .sup4 ul{
        margin-left: 30px;
        font-size: var(--font-size);
    }
    .sup5{
        margin-left: 30px;
        font-size: var(--font-size);
    }
